@use "../../../../styles.scss";
@use "sass:map";
.wrapper{
    min-height: 100%;
   // background-color: lightseagreen;
   background-color: #403A40;
    .titulo{
        @include styles.titulos(1.7rem,1.5);
        padding: 20px 0;
        margin: 0;
       // background-color: powderblue;
    }
    .form-container{    
        width: 650px}
}
