<div class="form-container">
    <form class="loginForm" [formGroup]="loginForm" #formDirective=ngForm  fxLayout="column">
        <mat-form-field  appearance="outline"> 
         <mat-label>Email</mat-label>
         <input name="email" matInput formControlName="email" placeholder="ejemplo@mail.com" >
         <mat-icon matSuffix> email</mat-icon>
 
     </mat-form-field>
     <mat-form-field  appearance="outline"> 
         <mat-label>Contraseña</mat-label>
         <input name="pass" matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
         <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
         <mat-icon>  {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         </button>
     </mat-form-field>
     <button type="submit" mat-raised-button  color="primary"  [disabled]="!loginForm.valid"
     >Iniciar Sesión</button>
    
    </form>
</div>
