<mat-toolbar class="toolbar" fxflex fxLayout fxLayoutAlign.lt-sm="space-around center"   >
    <div class="img-container">
        <a routerLink='/auth' >
            <img class="logo" src="../../../../assets/img/Diseño sin título (11).png" alt="" >
        </a>
    </div>
    <mat-toolbar-row>
        <button fxHide.gt-sm mat-icon-button (click)="onToggleSidenav()" >
            <mat-icon class="menu-icon" >menu</mat-icon>
        </button>
        <div>
            <button mat-button >
                <img src="../../../../assets/img/user.png" alt="">
                {{this.accederLocalStorage.fullNameAdmin}}
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
    
  </mat-toolbar>

