<div class="wrapper" fxLayout="column" fxLayoutAlign="center center">
<div class="info-container">
<h2 >Información del Viaje</h2>

<div class="descripcion-container">
    <p> <b>Dirección:</b>  {{infoViaje.clienteDireccion}} </p>
    <div fxLayout="row" fxLayoutAlign="flex-start">
        
        <p> <b>Fecha:</b>   {{infoViaje.operationDate |date:'dd/MM/yyyy'}} </p>
        <p style="margin-left:10px ;"> <b>Hora:</b>  {{infoViaje.operationDate |date:'shortTime':'+0200'}} </p>
    </div>
    
    
    <p><b>Equipo:</b> {{infoViaje.equipmentMarca}} {{infoViaje.equipmentModelo}} </p>
    
    <p><b>Estado Actual Viaje:</b> {{infoViaje.lastStatusTravel.toString() | i18nSelect: statusTravelMap}} </p>
</div>
</div>

<form  class="registerForm" [formGroup]="updateForm" #formDirective=ngForm (ngSubmit)="submitForm(formDirective)" fxLayout="column">
    <mat-form-field appearance="outline">
        <mat-label>Nuevo Estado del Viaje</mat-label>
        <mat-select [(value)]="estadoViaje" formControlName="estadoViaje">
          <mat-option  [value]="option.value" *ngFor="let option of statusTravelArray">
           {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <div class="warning-container" *ngIf="estadoViaje !==1 && estadoViaje !==5 && estadoViaje !==10">
    <div class="texto" fxLayout="row">
        <mat-icon >warning</mat-icon>
        <p>Es necesario asignar un cadete para cambiar el estado del viaje!</p>
    </div>
        <mat-form-field  appearance="outline" color="primary" > 
            <mat-label>Id Cadete </mat-label>
            <input name="idCadete" matInput formControlName="idCadete"  id="idCadete" type="number" >
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </div>
    <div class="renuncia-container" *ngIf="(infoViaje.lastStatusTravel ===2 ||
    infoViaje.lastStatusTravel ===6) && estadoViaje ===10">
        <div class="texto" fxLayout="row">
            <mat-icon >warning</mat-icon>
            <p>Indica el nuevo estado del Viaje</p>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Nuevo Estado del Viaje</mat-label>
            <mat-select [(value)]="estadoRenuncia" formControlName="estadoViaje">
              <mat-option  [value]="1" >
               Pendiente a retirar
              </mat-option>
              <mat-option  [value]="5" >
                Reparado
               </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="texto" fxLayout="row" *ngIf=" (infoViaje.lastStatusTravel !==2 &&
        infoViaje.lastStatusTravel !==6) && (estadoViaje ===10)">
        <mat-icon>error</mat-icon>
        <p>No se puede renunciar un viaje con estado {{infoViaje.lastStatusTravel.toString() | i18nSelect: statusTravelMap}} </p>
    </div>

    <mat-form-field  appearance="outline" > 
        <mat-label>Observaciones</mat-label>
        <textarea  name="observaciones" matInput  formControlName="observaciones" ></textarea>
        

    </mat-form-field>
    
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <button type="submit" mat-raised-button  color="primary" [disabled]="!updateForm.valid" mat-dialog-close>Confirmar</button>
    <button type="button" mat-raised-button  color="basic" mat-dialog-close >Cancelar</button>
</div>
    
</form>
</div>