.wrapper{
    background-color: blueviolet;
    min-height: 100%;
    padding: 50px;
    .select{
      // background-color: cadetblue;
        margin-top: 30px;
       // margin-bottom: -20px;

    }
    .tabla{
      background-color: chartreuse;
        width: 80%;
        margin-top: -20px;
    }
}