.wrapper{
   background-color: #403A40;
   min-height: 100%;
    padding: 30px;
    background-image:url('../../../../assets/img/blob-scene-haikei.png');
    background-size: cover;
    .select{
      background-color: #fff;
       padding: 5px;
       width: 250px;
       height: 60px;
    }
    .mat-elevation-z8{
      background-color: #fff;
      border-radius: 5px;
      padding: 5px;
      height: 57px;
   }
    .tabla{
        width: 80%;
    }
}
