<mat-form-field appearance="outline">
    <mat-label>Tipo de Usuario</mat-label>
    <mat-select [(value)]="this.selectUsuario.tipoUsuario" (valueChange)="cambiaOpcion()">
      <mat-option  [value]="'clientes'">
        Listado de Clientes
      </mat-option>
      <mat-option  [value]="'cadetes'">
        Listado de Cadetes
      </mat-option>
      <mat-option  [value]="'admin'">
        Listado de Administradores
      </mat-option>
      <mat-option  [value]="'todos'">
        Todos los usuarios
      </mat-option>
      <mat-option  [value]="'eliminados'">
        Usuarios Eliminados
      </mat-option>
    </mat-select>
    
  </mat-form-field>

