
<main >
    <div class="wrapper" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div class="contenedor-imagen">
        <img class="gif-login" src="../../../../assets/animaciones/Mobile login.gif" alt="">
        
    </div>
    <div class="contenedor-info" fxLayout="column" fxLayoutAlign="flex-start center">
        <div class="titulo-container">
            <h1 class="titulo ">Bienvenid@ de nuevo!</h1>
            <h3 class="descripcion"> Iniciá sesión en tu cuenta</h3>
        </div>
        <div class="form-container" >
            <app-login-form></app-login-form>
        </div>
        
    </div>  
</div>
</main>
