
mat-form-field{
    width: 250px;
    height: 60px;
    
}

.group{
    //background-color: chocolate;
    margin: 0px 10px;
}
.info-actual{
    margin: 0;
}
.seccion-btn{
    margin-top: 20px;
    width: 40%;
}

.ventanita{
    .header-container{
        h3{
            font-weight: 600;
            margin:0px;
            padding: 0px 10px;
        }

    }
    h2{
        margin:0px;
        padding: 20px 0px;
    }
    .seccion-btn2{
        width: 90%;
    }
}