@use "../../../../styles.scss";
@use "sass:map";
.wrapper{
    min-height: 100%;
   background-color: #403A40;
   background-image:url('../../../../assets/img/blob-scene-haikei.png');
   background-size: cover;
    .titulo{
        @include styles.titulos(1.7rem,1.5);
        padding: 5px 15px;
        margin: 0;
        background-color: #fff;
        border-radius: 5px;
        color:#000;
        width: 100%;
    }
    h2{
     
        @include styles.titulos(1rem,1.5);
            padding: 5px 5px;
            margin: 0;
            background-color: #fff;
            border-radius: 5px;
            color:#000;
            width: 10%;
            margin: 10px ;
    }
    mat-card{
        margin: 10px;
        width:250px  ;
        .subtitulo{
            font-weight: 500;
            color:#242325;
            font-size: 1rem;
            
        }
        .nro{
            font-size: 1.7rem;
            font-weight: 600;
        }
        mat-icon{
            margin-left: 10px;
            transform: scale(1.5);
        }
        img{
            width:60px;
             height:60px;
             margin-left: 10px;
        }
    }
}






