mat-drawer-container{
    min-height: 90%;
    //height: 90%;
    max-height: 100%;
    
    mat-drawer{
        //background-color: lightpink;
        width: 250px;
        padding: 5px;
        padding-top: 50px;
        .saludo{
            text-align: center;
            font-weight: 500;
        }
        mat-divider{
            border-top-width:2px ;
            border-color: #64FFDA;
            width: 90%;
            margin: 0 auto ;
        }
    }
    
}