mat-drawer-container{
    height: calc(100vh - 70px);
    
    mat-drawer{
        //background-color: lightpink;
        width: 250px;
        padding: 5px;
        padding-top: 50px;
        .saludo{
            text-align: center;
            font-weight: 500;
        }
        mat-divider{
            border-top-width:2px ;
            border-color: #64FFDA;
            width: 90%;
            margin: 0 auto ;
        }
    }
    met-drawer-content{
        background-color: #403A40;
    }
    
}