

<mat-nav-list>
    <a mat-list-item routerLink="/dashboard/inicio" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>
        Inicio
    </a>
    
    <a mat-list-item routerLink="/dashboard/registro" routerLinkActive="list-item-active">
        <mat-icon>add_circle</mat-icon>
        Crear Usuarios
    </a>
    <a mat-list-item routerLink="/dashboard/listas" routerLinkActive="list-item-active">
        <mat-icon>account_circle</mat-icon>
        Administrar Usuarios
    </a>
    <a mat-list-item routerLink="/dashboard/viajes" routerLinkActive="list-item-active">
        <mat-icon>local_shipping</mat-icon>
        Administrar Viajes
    </a>
    <a mat-list-item routerLink="/dashboard/historial" routerLinkActive="list-item-active">
        <mat-icon>history</mat-icon>
        Historial de Viajes
    </a>
</mat-nav-list>
