form{
        background-color: #fff;
        padding: 10px;
        padding-top: 18px;
        padding-bottom: 18px;
        border-radius: 5px;
        margin: 20px 0;
        .group{
            margin: 0px 10px;
            mat-form-field{
                width: 300px;
            }
        }
        .seccion-btn{
            margin-top: 20px;
            width: 50%;
            button{
                width: 50%;
                margin: 0 10px;
            }
        }
}





