mat-spinner{
    margin: 200px auto;
}

.tablita{
    mat-form-field{
        margin: 10px 0;
        background-color: #fff;
        height: 55px;
        padding: 5px ;
        padding-top: 0;
        align-content: flex-end;
    }
    .mat-elevation-z8{
        border-radius: 5px;
        table{
            width: 100%;
            th{
                width: 14%;
            }
        }
    }
   
}


