<mat-spinner *ngIf="loading" diameter="50"></mat-spinner>

<div class="tablita" *ngIf="!loading">
<mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- ID Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
        <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
      </ng-container>
      <!-- ID Column -->
      <ng-container matColumnDef="rol.id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let row"> {{row.rol.id.toString() | i18nSelect:rolMap}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="cellPhone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
        <td mat-cell *matCellDef="let row"> {{row.cellPhone}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email }} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehiculo </th>
        <td mat-cell *matCellDef="let row"> {{row?.vehicle?.name || '-'}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-icon-button class="btn-icon" matTooltip="Editar Usuario"
          (click)="this.dialogService.abrirVentanaEditUser(row,'modificar')">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Eliminar Usuario"
          (click)="this.dialogService.abrirVentanaEditUser(row,'eliminar')">
            <mat-icon>delete</mat-icon>
          </button>
          
         
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

